/MyMainClass/nbproject/private/
/MyMainClass2/nbproject/private/
/MyMainClass2/build/
/MyMainClass2/dist/
/MyAbstractExample/nbproject/private/
/MyAbstractExample/build/
/MyAbstractExample/dist/
/MyExceptionExample/nbproject/private/
/MyExceptionExample/build/
/MyExceptionExample/dist/
/TestExceptions/nbproject/private/
/TestExceptions/build/
/TestExceptions/dist/
/WriteToFile/nbproject/private/
/WriteToFile/build/
/WriteToFile/dist/
/WriteToFile_NoException/nbproject/private/